<div class="card-header">
  <span class="float-left">{{testplan.title}}</span><span class="badge badge-pill badge-success float-right">Success</span>
</div>
<div class="card-block">
  <p class="card-text">{{testplan.description}}</p>
</div>
<ul class="list-group list-group-flush">
  <li class="list-group-item">Last run: 2017-01-07 15:51 - Duration: 0:45:12</li>
</ul>
<div class="card-block text-right">
  <a href="#" class="btn btn-secondary">Delete</a>
  <a class="btn btn-primary" [routerLink]="['/plans/', testplan.id]">Open</a>
</div>

